SERVER_PORT=8080
DB_URL=jdbc:mysql://localhost:3306/yak_ops_website?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=yakops

SECURITY_DB_URL=jdbc:mysql://localhost:3307/yak_ops_website_security?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
SECURITY_DB_USERNAME=root
SECURITY_DB_PASSWORD=yakops

WEBSITE_PUBLIC_BASE_URL=http://localhost:8000
WEBSITE_MAIL_MODE=log
WEBSITE_MAIL_FROM=no-reply@yakops.local
SA_TOKEN_COOKIE_SECURE=false
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_STARTTLS=false
